.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    transition: all ease-in 0.5s;
}

.nav__black{
    background-color: #111;

}

.nav__logo{
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}

.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}

.nav__github{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 3;
}